@import '../../responsive.scss';

.list {
  display: flex;
  gap: 20px;
  flex-direction: column;

  @include md {
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
  }

  @include sm {
    gap: 30px;
  }
}